__pycache__/
.vscode/
.ipynb_checkpoints/
leelaz_opencl_tuning
millennium_config.json
uci_engines.json
preferences.json
chess_link_config.json
mchess/engines/
mchess/web/node_modules
mchess/mchess.log
mchess/web/package-lock.json