/* Mchess.css */

c1 {
    color: #D8DBE2; /* Gainsboro */
}

c2 {
    color: #A9BCD0; /* Pastel Blue */
}

c3 {
    color: #58A4B0; /* Cadet Blue */
}

c41 {
    color: #46494C; /* Outer Space */
}

c42 {
    color: #373F51; /* Charcoil */
}

c51 {
    color: #363635; /* -- Jet * */
}

c52 {
    color: #2D2A32; /* Charleston Green */
}

c53 {
    color: #1B1B1E; /* Eerie Black */
}

.header_col {
    color: #D8DBE2;
    background-color: #2D2A32;
}
.body_col {
    color: #D8DBE2;
    background-color: #1B1B1E;
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-auto-columns: minmax(auto, 200px);
}
.mainboard {
    grid-column: 1/3;
    grid-row: 1/3;
    background: #999;
}

.miniboard1 {
    grid-column: 3/6;
    grid-row: 1/2;
    background: #888;
}
.miniboard2 {
    grid-column: 3/5;
    grid-row: 2/3;
    background: #777;
}

div.board {
    float: left;
}

.variant {
    font-size: 6pt;
}
.turq {
    color:#58A4B0;
}
.movenr c3 {
    font-size: 6pt;
    color: #58A4B0;
}
header {
    color: #D8DBE2;
    background-color: #2D2A32;
    padding: 10px;
}

body {
    color: #D8DBE2;
    background-color: #1B1B1E;
}

.cm-chessboard.has-border .board .border-inner {
        fill: #373F51; }
      
.cm-chessboard.has-border .board .border {
        fill: #D8DBE2; }

.cm-chessboard .board .square.white {
    fill: #A9BCD0; }
  
.cm-chessboard .board .square.black {
    fill: #58A4B0; }