/* Mchess.css */

c1 {
    color: #D8DBE2; /* Gainsboro */
}

c2 {
    color: #A9BCD0; /* Pastel Blue */
}

c3 {
    color: #58A4B0; /* Cadet Blue */
}

c41 {
    color: #46494C; /* Outer Space */
}

c42 {
    color: #373F51; /* Charcoil */
}

c51 {
    color: #363635; /* -- Jet * */
}

c52 {
    color: #2D2A32; /* Charleston Green */
}

c53 {
    color: #1B1B1E; /* Eerie Black */
}

.header_col {
    color: #D8DBE2;
    background-color: #2D2A32;
}
.body_col {
    color: #D8DBE2;
    background-color: #1B1B1E;
}
div.border c52 {
    border-width:6px;
    border-style:solid;
    border-color:inherit;
    height: 250px;
    width: 250px;
}

div.miniborder {
    border-width:3px;
    border-style:solid;
}

div.board {
    float: left;
}

.variant {
    font-size: 6pt;
}
.turq c3 {
    color:inherit;
}
.movenr c3 {
    font-size: 6pt;
    color: inherit;
}
header, .header_col {
    padding: 10px;
}

body, .body_col {
    /* nothing else */
}

.cm-chessboard.has-border .board .border-inner {
        fill: #373F51; }
      
.cm-chessboard.has-border .board .border {
        fill: #D8DBE2; }

.cm-chessboard .board .square.white {
    fill: #A9BCD0; }
  
.cm-chessboard .board .square.black {
    fill: #58A4B0; }